body{
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
    color: #333;
    text-decoration: none;
}

.row {
    width: 100%;
}

.row .col1{
    width: 5%;
    float: left;
}
.row .col2{
    width: 95%;
    float: right;
}

.grid-stack .grid-stack-item-content {
    border-width: 0px;

}

.grid-stack.header .grid-stack-item-content, .grid-stack.header-left .grid-stack-item-content  {
    color: white;
    background-color: #555;
    text-transform: capitalize;

    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 99%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(99%, rgba(71,71,71,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 99%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 99%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 99%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 99%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}
.grid-stack .over .grid-stack-item-content {
    background: #d9534f !important;
    border-color: rgba(0,58,118,0.3);
}
.grid-stack.header-left .grid-stack-item-content text{
    transform: rotate(-90deg);
    left: 0%;
}
.grid-stack .theme1 .grid-stack-item-content {
    background: rgba(0,177,235,0.3);
    border-color: rgba(0,77,157,0.3);
}
.grid-stack .theme2 .grid-stack-item-content {
    background: rgba(235,129,0,0.3);
    border-color: rgba(179,94,0,0.3);
}
.grid-stack .theme3 .grid-stack-item-content {
    background: rgba(146,208,80,0.3);
    border-color: rgba(76,100,29,0.3);
}
.grid-stack .theme4 .grid-stack-item-content {
    background: rgba(154,142,196,0.3);
    border-color: rgba(105,87,167,0.3);
}

.grid-stack .themegray .grid-stack-item-content {
    background: rgba(204,204,204,0.3) !important;
    border-color: rgba(140,140,140,0.3) !important;
}

.grid-stack .grid-stack-item-content text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%,-50%);
}

.grid-stack:not(.header .header-left) .grid-stack-item-content.ui-draggable-handle{
    cursor: move;
}

.grid-stack {
    margin-top: 10px;
    color: #333;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid gray;
    vertical-align: top;

}
.task:hover .showonhover{
    display: block;
}
.locktask {
    float: right;
    padding-right: 10%;
}
.flagtask {
    float: left;
    padding-left: 10%;
}
.lockedtask{
    display: block !important;
}
.flagedtask{
    display: block !important;
}

.showonhover {
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    color: gray;
    width: 100%;
}
.showonhover.lockedtask > .flagtask {
    display: none;
}
.showonhover.flagedtask > .locktask {
    display: none;
}
.task:hover .flagedtask > .locktask {
    display: block;
}
.task:hover .lockedtask > .flagtask {
    display: block;
}
.grid-stack-item-content:hover > .showonhover > .lockedtask {
    display: block!important;
}
.showonhover.lockedtask:hover {
    display: block;
}
.flagedtask.lockedtask .locktask, .flagedtask.lockedtask .flagtask {
    display: block;
}


.task{
    font-size: 0.7em;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(221,221,221,1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(221,221,221,1);
    box-shadow: 2px 2px 6px 0px rgba(221,221,221,1);
    cursor: pointer;
}

.task:hover{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,1);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,1);
}

.trainingunits{
    font-size: 0.8em;

}

.grid-stack > .grid-stack-item > .ui-resizable-se {
    right: 3px;
}


#myModal .split{
    width: 45%;
    display: inline-block;
    float: left;
    padding: 1%;
    margin: 1%;
    background-color: #f5f5f5;
    min-height: 75vh;
}

#myModal .input-modal{
    padding-bottom: 1%;
    display: inline-block;
    width: 48%;
}

#myModal .input-modal input[type=text]{
    width: 90%;
}

#myModal .input-modal-check{
    width: 48%;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
}

#myModal span.input-label{
    min-width: 90%;
    max-width: 90%;
    display: inline-block;
    font-weight: bold;
    font-size: 0.8em;
}

#myModal .input-modal-check span.input-label{
    max-width: 45%;
    min-width: 45%;
    font-size: 0.9em;
    vertical-align: text-top;
}

#myModal #input-modal-name{
    font-size: 1.17em;
    font-weight: bold;
}

#myModal #input-modal-name span{
    padding-right: 2%;
}

#myModal textarea{
    width: 92%;
    min-height: 26vh;
    resize: vertical;
}

#myModal input[name="task-name"]{
    width: 78%;
    font-size: 1.2em;
    padding: 2%;
}