<div id='myModal'>
    <div class="split" style="background-color: rgba(103,177,196, 0.5)">
        <div id="input-modal-name"><span>Name</span>  <input name='task-name' type='text'></div>
        <br/>
        <div id='overall'>
            <h3>Overall</h3>
            <div class="input-modal"><span class='input-label'>ID</span> <input name='task-ID' type='text'></div>
            <div class="input-modal"><span class='input-label'>Date</span> <input name='task-launch_date' type='date'></div>
            <div class="input-modal"><span class='input-label'>Type</span> <input name='task-type' type='text'></div>
            <div class="input-modal"><span class='input-label'>BU</span> <input name='task-BU' type='text'></div>
            <div class="input-modal"><span class='input-label'>Product Group</span> <input name='task-product_group' type='text'></div>
            <div class="input-modal"><span class='input-label'>Category</span> <input name='task-category' type='text'></div>
            <div class="input-modal"><span class='input-label'>Driver</span> <input name='task-driver' type='text'></div>
            <br/><br/>
            <h3 class='input-label'>Description</h3>
            <div class="input-modal-desc">
            <textarea id='task-description'></textarea></div>
        </div>
    </div>
    <div class="split" style="background-color: rgba(131,196,103, 0.5)">
        <div id='financials'>
            <h3>Financials ($M)</h3>
            <div class="input-modal"><span class='input-label'>Revenue FY17</span> <input name='task-revenue' type='text'></div>
            <div class="input-modal"><span class='input-label'>Cost Reduction</span> <input name='task-cost_reduction' type='text'></div>
            <br/>
            <div class="input-modal"><span class='input-label'>EBITDA 24 Month</span> <input name='task-ebitda' type='text'></div>
            <div class="input-modal"><span class='input-label'>P & A FY17</span> <input name='task-pa' type='text'></div>
            <br/>
            <div class="input-modal"><span class='input-label'>FY17 PROPEX</span> <input name='task-propex' type='text'></div>
            <div class="input-modal"><span class='input-label'>FY17 CAPEX</span> <input name='task-capex' type='text'> </div>
        </div>

    </div>
</div>

